.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-info {
  min-height: 100vh;
  background-color: peru;
}

.testcss {
  color: black;
  
}

.black {
  color: black;
}

.App-link {
  color: #b4ff04;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* dark mode */

a {
  color: #FFF;
}
a:hover {
   color: rgb(108, 108, 116)
}





/* toggle theme  */

.checkbox {
  position: absolute;
  opacity: 0;
}

.label {
  margin-left: 30px;
  background-color: rgb(49, 49, 49);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  width: 50px;
  height: 16px;
  transform: scale(1.25);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 23.5px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(30px);
}

.dicon {
  color: #f1c40f;
  transform: scale(.8)
}

.licon {
  color: #f39c12;
  transform: scale(.8)
}

.headerdiv {
  margin-right: 24px;
} 





.devbox {
  min-height: 100vh;
}

.faqbox {
  min-height: 100vh;
}